body {
    background-color: black;
    color: white;
}

#ni {
    float: right;
    width: 144px; /* 50% = az oldal 50%-a */
    vertical-align: middle;
}

nav {
    text-align: center;
    display: flex;
    flex-direction: row;
    gap: 0;
    border-bottom: 4px solid white;
}

nav img {
    width: 144px;
}

nav div { align-content: center; }
nav div:first-child { width: 100%; }
nav div:last-child { width: fit-content; }

a {
    color: red !important;
    border-color: white !important;
}

.acontent, .qcontent {
    width: 95%;
    height: fit-content;
    margin: auto;
}

.qcontent img {
    width: 33%;
    border: 1px solid white;
    text-align: center;
}

.qcontent {
    text-align: center;
    justify-content: center;
}

.table {
    margin: 10px auto;
    width: 96%;
    text-align: left;
}

.imgs {
    margin: auto;
}

.imgs img {
    width: 15%;
}

.table tr td {
    display: flex;
    flex-direction: row;
}

.table tr td div:first-child { width: 100%; }
.table tr td div:last-child { width: fit-content; }