body {
    background-color: #ffe4b5;
    color: navy;
}

#cim {
    text-align: center;
    width: 100%;
    vertical-align: middle;
    position: relative;
}

#cim_kep {
    border: 1px black solid;
}

#vonalka {
    width: 400px;
}

#asztalka {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

#invert_arrow {
    transform: scaleX(-1);
    display: block;
    margin: 0 0 0 auto;
}