body {
    padding: 0;
    margin: 0;
    background-color: rgb(245, 222, 179);
    color: rgb(139, 69, 19);
}

.nva {
    display: flex;
    flex-direction: row;
}

header {
    position: relative;
    text-align: center;
    padding: 10px;
    font-size: 35px;
    color: white;
    margin-top: 5px;
    align-content: center;
    height: 10vh;
    background-color: rgb(80, 80, 80);
}

.main {
    width: 80%;
    margin: auto;
}

nav {
    width: 20%;
    height: 50%;
    background-color: gray;
    height: 75vh;
    padding: 5px;
}

article {
    background-color: white;
    width: 80%;
    height: 75vh;
    padding: 5px;
}

footer {
    width: calc(100% - 10px);
    height: min-content;
    background-color: rgb(110, 110, 110);
    padding: 5px;
}

a {
    color: rgb(139, 69, 19);
    text-decoration: none;
    cursor: pointer;
}

footer {
    text-align: center;
    height: min-content;
    padding: 10px;
    width: calc(100% - 20px);
    align-content: center;
    color: white;
}

footer img {
    float: right;
    margin: auto;
}

.gonosz_kep {
    float: right;
    margin: auto;
}

.kepek {
    display: flex;
    margin: auto;
    flex-direction: row;
    width: max-content;
    gap: 5px;
}

.kepek img {
    color: rgba(0, 0, 0, 0.5);
}

#aktiv_kep {
    color: rgba(0, 0, 0, 1);
}