.main {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    font-family: Arial, Helvetica;
}

.szoveg {
    text-align: left;
}

a:link {
    color: rgb(185, 122, 87);
}

a:visited, a:hover, a:active {
    color: rgb(195, 195, 195);
}

h1, h2 {
    color: rgb(185, 122, 87);
}

.balImg {
    float: right;
    width: 300px;
    margin: 0 2px;
    border: 1px solid black;
}