* {
    box-sizing: border-box;
}

body {
    background-color: #4B0082;
    color: #000000;
    margin: 0;
    padding: 0;
}
.cimsor {
    color: lightblue;
    text-align: center;
}

.elso-sor {
    display: flex;
    align-items: center;
    gap: 20px;
}

.tartalom {
    background-color: lightskyblue;
    margin: 0 auto;
    width: 80%;
    border: ridge lightskyblue 5px;
}

.elso-sor > div {
    padding: 5px;
}

.kep {
    padding-right: 5px;
    margin: 0;
    padding: 0;
    border-right: ridge lightskyblue 5px;
}

.also-sor {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 5px;
    border-top: ridge lightskyblue 5px;
}

.kepek {
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}

.kepek>img {
    padding-left: 50px;
    padding-bottom: 0;
    padding-right: 50px;
    padding-top: auto;
}

.gomb {
    width: 120px;
    height: 45px;
    border: 5px lightskyblue ridge;
    background-color: lightskyblue;
    margin-top: 5px;
    border-radius: 5px;
    text-decoration: none;
    padding: 8px;
    color: black;
    margin: 5px;
}

.gomb:hover {
    cursor: pointer;
    border: 5px rgb(182, 227, 255) ridge;
    background-color: rgb(191, 230, 255);
}
