body {
    background-color: #CD5C5C;
}

* {
    box-sizing: border-box;
}

.szoveg-kozepre {
    text-align: center;
}

.table-halma {
    margin: 0 auto;
    width: 80%;
    border: 5px #E9967A ridge;
    background-color: #E9967A;
    border-collapse: collapse;
}

.cella-halma {
    padding: 8px;
    border: 5px #E9967A ridge;
}

.kep-babu {
    border: 1px black solid;
    display: block;
    margin: 0 auto;
}

.kep-halma {
    text-align: center;
}

.gomb {
    width: 120px;
    height: 45px;
    border: 5px #E9967A ridge;
    background-color: #fcc3b0;
    margin-top: 5px;
    border-radius: 5px;
    text-decoration: none;
    padding: 8px;
    color: black;
}

.gomb:hover {
    cursor: pointer;
    border: 5px #d38065 ridge;
    background-color: #da9b86;
}
