body {
    padding: 5px;
    background-color: #FAEBD7;
    color: #800000;
}

.cim {
    text-align: center;
    margin: auto;
    font-size: 50px;
}

.kep {
    display: block;
    margin: auto;
    text-align: center;
    justify-content: center;
    border: 1px black solid;
}

.szoveg {
    font-size: 25px;
}