body {
    color: #800000;
    background-color: #800000;
    padding: 10px;
}

.asztalka {
    background-color: #FAEBD7;
    width: 80%;
    margin: auto;
    text-align: center;
    border: 1px black solid;
}

.kép {
    border: 1px black solid;
    text-align: center;
    justify-content: center;
    vertical-align: middle;
}

#kep {
    width: 100px;
    padding: 0 10px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

.szoveg {
    text-align: left;
    font-size: 20px;
}

.olah {
    float: right;
}   