body {
  margin: 0;
  padding: 0;
  background-color: rgb(80, 80, 80);
}

h1 {
  color: white;
  font-size: 225%;
}

.section {
  background-color: rgb(80, 80, 80);
  width: calc(100% - 100px);
  height: auto;
  display: block;
  text-align: center;
  padding: 0 50px;
}

.main {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgb(54, 54, 54);
}

.cim {
  text-decoration: underline;
}

.tartalom {
  color: white;
  text-decoration: none;
  position: relative;
  max-width: 30%;
  width: auto;
  display: inline-block;
  padding: 2px;
  margin: 2px 0;
  background-color: rgb(66, 66, 66);
  transition: background-color 0.1s;
  border-radius: 10px;
  vertical-align: middle;
}

.tartalom * {
  display: inline-block;
}


.tartalom:hover {
  background-color: rgb(53, 53, 53);
}

.tartalom .cim, .tartalom .desc {
  padding: 5px 10px;
  word-break: keep-all;
}

.tartalom img {
  border-radius: 10px;
  vertical-align: middle;
  max-width: 100%;
}

#osztalySelect {
  vertical-align: middle;
  border: none;
  outline: none;
  padding: 2px 4px;
  border-radius: 15px;
}

.top {
  margin-bottom: 10px;
  color: white;
}

#sb {
  width: 50%;
  border: none;
  outline: none;
  vertical-align: middle;
  padding: 2px 8px;
  border-radius: 15px;
}

input[type=search]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=search]::-ms-reveal {  display: none; width : 0; height: 0; }

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

.tartalom div {
  max-width: 90%;
  width: auto;
  overflow-x: auto;
}

.nope {
  background-color: gray;
  color: white;
  font-size: large;
}