body {
    background-color: beige;
    margin: 0;
}

.fejlec {
    background-color: lightskyblue;
    text-align: center;
    padding: 30px 0;
    font-size: 36px;

    display: flex;
    justify-content: center;
}

.fejlec2 {
    background-color: rgb(180, 0, 0);
    text-align: center;
    padding: 30px 0;
    font-size: 36px;
}

.kepecske {
    vertical-align: middle;
}

.szoveg {
    padding: 20px;
    width: 60%;
    float: left;
    margin: auto;
}

.pamacs {
    background-color: darkslategrey;
    text-align: center;
    color: white;
    padding: 10px 0;
    direction: rtl;
    unicode-bidi: bidi-override;
}

.konyv-info {
    width: 25%;
    background-color: white;
    text-align: center;
    border: 2px skyblue solid;
    padding: 15px;
    float: left;
    margin: 20px;
}

.konyv-info2 {
    width: 25%;
    background-color: rgb(255, 180, 180);
    text-align: center;
    border: 2px rgb(255, 45, 45) solid;
}

.borito-meret {
    width: 50%;
}

.also_pamacs {
    position: absolute;
    background-color: darkslategrey;
    text-align: center;
    color: white;
    padding: 10px 0;
    bottom: 0;
    width: 100%;
}

.also_pamacsFONT {
    text-decoration: none;
    color: white;
}