body {
    background-color: white;
    color: black;
    font-family: Helvetica, Arial;
    margin: 10px;
}

header {
    width: calc(100% - 20px);
    border-radius: 10px;
    background-color: #22B14C;
    height: fit-content;
    min-height: 60px;
    padding: 5px;
    text-align: center;
    color: white;
    font-size: xx-large;
    vertical-align: middle;
}

header div {
    vertical-align: middle;
    width: inherit;
    top: 15px;
    position: absolute;
}

header img {
    float: left;
    height: 50px;
}

.gomb {
    color: green;
    border-color: black;
    font-style: italic;
    font-weight: bold;
}

[id] {
    color: #22B14C;
    font-size: x-large;
}

.asztal {
    margin: auto;
    width: 1000px;
}

.asztal tr td {
    border: #CCCCCC solid 1px;
}

.asztal tr:first-child {
    width: 65%;
}

.asztal tr td {
    padding: 3px;
}

.ftd {
    background-color: rgb(151, 151, 151);
}
