body {
  background-color: rgb(111, 111, 111);
  background-image: url(pics/phone-back.jpg);
  background-size: cover;
}

p {
  margin: 5px 5px 5px 100px;
  text-align: justify;
  text-indent: 30px;
  line-height: 110%;
}

#tartalom {
  margin-bottom: 20px;
  padding-right: 40px;
  width: 800px;
  margin-left: auto;
  margin-top: 40px;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  gap: 0;
  background-color: rgba(255, 255, 255, 0.8);
}

li {
  margin-left: 100px;
}

li ul li {
  margin-left: 0;
}

a {
  text-decoration: none;
  color: black;
}

#bal {
  background-image: url(pics/phone-cord.png);
  background-repeat: repeat-y;
  width: 65px;
}

#jobb {
  width: 100%;
}

h1 {
  margin: 0 5px 5px 100px;
  font-variant: small-caps;
}

h2 {
  margin: 30px 5px 5px 100px;
  font-variant: small-caps;
}

h1, h2 {
  font-style: italic;
}

span {
  color: blue;
}
