body {
    font-family: sans-serif;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-attachment: fixed;
    background-size: cover;
    background-image: url(pics/hatter.jpg);
}

#content {
    background-color: rgba(255, 255, 255, 0.6);
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 40px;
    width: 980px;
}

.frame {
    width: 490px;
    float: right;
    padding: 0px 5px 5px;
    overflow: hidden;
    margin-left: 20px;
    margin-bottom: 20px;
    background-color: rgba(227, 225, 233, 0.8);
    text-align: center;
}

.frame img {
    width: 499px;
    position: relative;
    left: -5px;
    border-bottom: 2px solid black;
}

h1,
h2 {
    font-variant: small-caps;
    font-style: italic;
}

p.imgtitle {
    font-size: 1.1em;
    margin: 0;
}

table,
.frame {
    border: 3px solid green;
}

a:link,
a:visited {
    color: blue;
}

.bold {
    font-weight: bold;
}

p {
    text-indent: 25px;
    text-align: justify;
}

.tframe {
    float: left;
    margin: 0 10px 0 0;
    border-collapse: collapse;
    width: auto;
}

.tframe * {
    border: 1px solid black;
    padding: 15px;
}

.tframe thead {
    background-color: green;
    color: white;
    font-weight: bold;
}

a {
    text-decoration: none;
}