#hatter {
    background-color: #FFEFD5;
    color: #8B4513;
}

#szines_kep {
    border: 1px black solid;
    margin-right: 10px;
    float: inline-start;
}

#asztalka {
    position: relative;
    border: 1px black solid;
    margin-left: auto;
    margin-right: auto;
}

#terito1 {
    text-align: left;
    width: 180px;
    padding: 15px 0px 15px 0px;
}

#terito2 {
    text-align: center;
    width: 120px;
    padding: 15px 0px 15px 0px;
}