body {
    margin: 0;
    padding: 0;
    background-color: #6E6E6E;
    color: white;
}

.asztal {
    width: 1000px;
    text-align: center;
    margin: auto;
    border-spacing: 5px;
    background-color: white;
}

.asztal *, .asztal tr * {
    width: 50%;
    height: calc(50%/3);
    margin: 5px;
}

td {
    vertical-align: top;
    background-color: #393939;
}

a {
    color: #FF5A09;
    text-align: center;
}

#frst * {
    vertical-align: middle;
    background-color: #F3843E;
}

#mdl * {
    width: fit-content;
}

#mdl img {
    float: right;
}

#frst td h1{
    text-align: center;
    width: calc(100% - 10px);
}

#low td h2 {
    width: calc(100% - 10px);
    text-align: left;
}

#bal {
    padding: 5px;
}

#low div {
    text-align: left;
    width: 100%;
}

#low div * {
    width: calc(100% - 10px);
    white-space: wrap;
}
