body {
    margin: 0;
    padding: 0;
    background-color: white;
}

.cim {
    color: black;
    text-align: center;
}

.blokk {
    width: 640px;
    height: fit-content;
    margin: auto;
    background-color: darkslategray;
    padding: 5px;
}

.asztalka {
    width: 100%;
    text-align: center;
    margin: auto;
}

.szoveg {
    text-align: left;
}

.kep {
    border: 1px black solid;
    float: left;
    margin: 0 5px 5px 0;
}

.szovegi {
    display: flex;
    flex-direction: row;
}

h2, p, a {
    color: white;
}