body {
    margin: 0;
    padding: 0;
    background-color: darkslategray;
}

.cim {
    color: white;
    text-align: center;
}

.blokk {
    width: 640px;
    height: fit-content;
    margin: auto;
    background-image: url("../pics/hatter.jpg");
    background-color: rgba(245, 245, 245, 0.5);
    padding: 5px;

}

.asztalka {
    width: 100%;
    text-align: center;
    margin: auto;
}

.szoveg {
    text-align: left;
}

.kep {
    border: 1px black solid;
}

a {
    color: black;
}

.szovegi {
    display: flex;
    flex-direction: row;
}